<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <title>Formulario Crombie</title>
  <link rel="stylesheet" href="../static/styles/styles.css"/>
  <link rel="icon" type="image/x-icon" href="../static/img/Logo.png" />
  <link rel="stylesheet" href="../static/styles/vendor/intlTelInput.min.css"/>
  <!-- CSS de intl-tel-input -->
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.19/css/intlTelInput.min.css"
  />
</head>
<body>

  <main class="main">
    <div class="header">
      <img src="../static/img/fondo.png" alt="Portada Crombie!" class="img" />
    </div>  

    <div class="mensaje-agradecimiento">
        <h2>¡Gracias por completar el formulario! 🎉</h2>
    </div>

   </main>
 
  <script src="../static/script/script.js"></script>
</body>
</html>
